<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blog</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <section class="blog-section">
      <div class="blog-container">
        <h1 class="blog-text">Welcome To My Blog</h1>
        <a class="blog-link" href="/new">Create a new post</a>
        <% if(posts.length === 0) {%>
        <p class="post-text">No posts yet.</p>
        <%}else {%> <% posts.forEach((post,index) => { %>
        <li>
          <a href="/post/<%= index %>"><%= post.title %></a>
          <form action="/delete/<%=index %>" method="POST">
            <button
              class="delete"
              onclick="return confirm('Delete this post?')"
              type="submit"
            >
              Delete
            </button>
          </form>
        </li>

        <%}) %> <% } %>
      </div>
    </section>
  </body>
</html>
