<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <section class="blog-section">
      <div class="new-container">
        <h1 class="new-text">Create a New Blog Post</h1>
        <form action="/new" method="POST" class="post-form">
          <div class="new-wrapper">
            <input type="text" name="title"          placeholder="Post Title" required />
            <textarea
              name="content"
               placeholder="&#10; &#10; &#10; Post Content"rows="8"
              required
            ></textarea>
          </div>
            <button class="click-btn" type="submit">Publish</button>
           <button class="click-btn home" type="submit">Back Home</button>
        </form>
      
      </div>
    </section>
  </body>
</html>
